[Unit]
Description=SB Sample App
[Service]
Type=simple
Restart=always
RestartSec=20
ExecStart=/usr/bin/java -jar /app/sb-sample-app-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target